.job-item-container {
  width: 100%;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-content-container {
  width: 80%;
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.individual-job-card {
  width: 100%;
  background-color: #202020;
  padding: 50px;
  color: #ffffff;
  border-radius: 15px;
}

.header-container {
  width: 100%;
}

.skills-heading {
  font-size: 20px;
}

.anchor-element {
  color: #4f46e5;
  text-decoration: none;
  font-size: 18px;
}

.anchor-button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.link-icon {
  font-size: 15px;
  margin-left: 6px;
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.skill-image {
  width: 50px;
  margin-right: 20px;
}

.skill-list-item {
  display: flex;
  align-items: center;
  min-width: 200px;
  margin: 30px;
  margin-right: 40px;
  margin-left: 0px;
}

.skill-items {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 0px;
}

.life-description-company-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.company-description {
  width: 60%;
  font-size: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.company-image {
  width: 30%;
  border-radius: 8px;
}
